<h1>Orders#index</h1>
<ul>
	<%= @orders.each do |order| %>
		<li>
		  <%= order %>
		  <%= link_to "Destroy", order_path(order), method: :delete, data: {confirm: "Are you sure you want to delete this order?"} %>
	 	</li>
	<% end %>
</ul>